<div >
    <ul class="list-group categoryList">

        <a (click)="categorySelection('all')">
            <li class="list-group-item">All Categories</li>
        </a>
        <a  (click)="categorySelection('bread')" >
            <li class="list-group-item">Bread</li>
        </a>
        <a (click)="categorySelection('dairy')">
            <li class="list-group-item">Dairy</li>
        </a>
        <a (click)="categorySelection('fruits')">
            <li class="list-group-item">Fruits</li>
        </a>
        <a (click)="categorySelection('spices')">
            <li class="list-group-item"> Seasonings And Spices</li>
        </a>
        <a (click)="categorySelection('vegetables')">
            <li class="list-group-item">Vegetables</li>
        </a>

    </ul>
</div>