<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a routerLink="/my-task-tracker" class="nav-link" routerLinkActive="active">
                    My Task Traker
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/new-task" routerLinkActive="active" class="nav-link float-right"
                    routerLinkActive="active">
                    New Task
                </a>
            </li>
        </ul>
    </div>
</nav>

