<div class="container">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-10 mt-3">
            <h2>Shipping</h2>
            <form >
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="name" class="form-control" id="name"  name="name">
                </div>
                <div class="form-group">
                    <label for="lane1">Address</label>
                    <input type="text" class="form-control" id="lane1" placeholder="Lane 1" name="lane1">
                </div>
                <div class="form-group">
                    <label for="lane2"></label>
                    <input type="text" class="form-control" id="lane2" placeholder="Lane 2" name="lane2">
                </div>

                <div class="form-group">
                    <label for="pwd">City</label>
                    <input  class="form-control" id="city"  name="city">
                </div>

                
            </form>
            <button type="submit" class="btn btn-primary" (click)="placeOrder()">Place Order</button>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-10 mt-3 ">
            <div class="card">
                <div>Order Summary <p>You have {{totalQuantity}} item in shopping cart</p>
                </div>
                <div class="card-body p-2 pl-4 pr-4" *ngFor="let item of itemList">
                    <span class="float-left">{{item.quantity}} x {{item.name}}</span>
                    <span class="float-right">${{item.quantity * item.price}}</span>
                </div>
                <div>
                    <hr/>
                    <span class="float-left font-weight-bold pl-5 pr-5 pb-3">Total</span>
                    <span class="float-right font-weight-bold pl-5 pr-5 pb-3">${{totalPrice}}</span>
                </div>
            </div>
        </div>
    </div>
</div>